<div id="top" class="jumbotron animated bounceInDown">
      <div class="container">
        <h1>Kerrison Garcia</h1>
        <br>
        <h2>Welcome friend.</h2>
        <p>If you want to follow my progress through life follow me here!</p>
        <p><a class="btn btn-warning btn-lg">Follow <span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
      </div> <!-- /.container -->
    </div> <!-- /.jumbotron -->

    <div class="container">
      <div class="sect-border"></div>

      <h3 id="about" class="subhead">A Little More About Me</h3>
      <div class="row" >
        <div class="col-md-10 col-md-offset-1 text-center">
          <p>I'm a 20 year old university student doing my first year in Information Technology at RMIT, Melbourne. I own a catering business where we only deliver tacos. I love everything tech and that includes programming. I've been learning Ruby for the past few months, on and off while trying to balance university, business and everything else.</p>
          <p>One of my favourite recreational activities to do in the down time is to play table tennis. During the winter I enjoy snowboarding and during the summer I enjoy surfing as well.</p>
          <p>I'm always trying to improve myself, expand my comfort zone which is why I like to emerse myself in different hobbies, trying to improve my skillset and experience life from different angles.</p>
        </div> <!-- /.col-md-10 -->
      </div> <!-- /.row -->

    </div> <!-- /.container -->
